* {
  margin: 0%;
box-sizing: border-box;
}
body {
  background-color: black;
  color: white;
  text-align: center;
  font-family: sans-serif;
}

.container {
  margin-top: 40px;
  width: 80%;
  max-width: 400px;
  margin-inline: auto;
}

h1 {
  margin-top: 40px;
  margin-bottom: 10px;
  opacity: 0.9;
  margin-right: 1px;
}

p {
  margin-bottom: 40px;
  opacity: 0.7;
}

input, button {
  display: block;
  margin: 20px;
  width: 90%;
  padding: 20px;
  font-size: 20px;
  border-radius: 5px;
}

button {
  border: none;
  background: blueviolet;
  color: white;
  font-weight: bold;
  transition: filter .2s;
}
/* pseudo-class :hover */
button:hover {
  filter: brightness(1.2);
  cursor: pointer;
}

#resposta {
  margin-top: 30px;
  transition: opacity 1.5s;
}

#resposta div {
  font-size: 16px;
  font-weight: normal;
  opacity: 0.9;
  margin-bottom: 10px;
}
